@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');
:root{
    --Bright-orange: hsl(31, 77%, 52%);
    --Dark-cyan: hsl(184, 100%, 22%);
    --Very-dark-cyan : hsl(179, 100%, 13%);
    --paragraphs: hsla(0, 0%, 100%, 0.75);
    --background-headings-buttons: hsl(0, 0%, 95%);
}
html,body{
    background-color: var(--background-headings-buttons);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-container{
    width: 750px;
    height: 400px;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
}
.first-row{
    flex: 1 ;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: var(--Bright-orange);
    padding-top: 35px;
    padding-bottom: 40px;
}
.sedan-icon{
    width: 55px;
    height: 34px;
    margin-bottom: 25px;
}
.second-row{
    flex: 1 ;
    padding-top: 35px;
    padding-bottom: 40px;
    background-color: var(--Dark-cyan);
}
.third-row{
    flex: 1 ;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-top: 35px;
    padding-bottom: 40px;
     background-color: var(--Very-dark-cyan);
}
.content-container{
    width: 100%;
    height: 100%;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
}
.heading{
    font-family: "Big Shoulders Display";
    font-weight: 700;
    color: var(--background-headings-buttons);
    font-size: 35px;
    margin-bottom: 25px;
}
.desc{
    font-family: "Lexend Deca";
    font-size: smaller;
    letter-spacing: 1.8;
    color: var(--paragraphs);
    font-weight: 400;
    padding-right: 70px;
    line-height: 20px;
    margin-bottom: 60px;
}
.button-bg{
    width: 120px;
    height: 40px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-headings-buttons);
}
.btn-text{
    font-family: "Lexend Deca";
    font-size: smaller;
    font-weight: 400;
    color: var(--Bright-orange);
}
.btn-text-suv{
    font-family: "Lexend Deca";
    font-size: smaller;
    font-weight: 400;
    color: var(--Dark-cyan);
}
.btn-text-luxury{
    font-family: "Lexend Deca";
    font-size: smaller;
    font-weight: 400;
    color: var(--Very-dark-cyan);
}

@media (max-width:500px){
    html,body{
        background-color: var(--background-headings-buttons);
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .main-container{
        width: 300px;
        height: auto;
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        padding-top: 90px;
        margin: auto;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .desc{
        font-family: "Lexend Deca";
        font-size: smaller;
        letter-spacing: 1.8;
        color: var(--paragraphs);
        font-weight: 400;
        padding-right: 100px;
        line-height: 20px;
        margin-bottom: 20px;
    }
}